<input type="hidden" id="emptyCaption" value="{{ .Page.Params.Category }}">

{{ $images := .Page.Resources.Match "img/*.jpg" }}
{{ with $images }}

<div class="swiper-area">
  
  <div class="swiper work-gallery">
    
     <div class="swiper-wrapper">
       
        {{ range . }}
        {{ $image := . }}
        {{ $imageTN := $image.Resize "1200x Lanczos q90 webp picture" }}
        
        <div class="swiper-slide" data-cell="{{ $imageTN.Title }}">
          <img src="{{ $imageTN.RelPermalink }}" class="swiper-image">
        </div>
          
        {{ end }}
        
      </div>
        
      <div class="swiper-navigation">
        <div class="swiper-next"></div>
        <div class="swiper-prev"></div>
      </div>
      
    </div>
</div>    

{{ end }}

