

body.is-mobile.is-portrait{
  main{
    height: calc(100vh  - (var(--nav-height) * 3));
  }
}

body.is-mobile.is-landscape{
  main{
    height: calc(100vh  - (var(--nav-height) * 2));
  }
}


header{
  height: var(--nav-height);
  position: fixed;
  top: 0;
  background: yellow;
  width: 100%;
}

main{
  position: fixed;
  top: var(--nav-height);
  height: calc(100vh - var(--nav-height) - var(--nav-height));
  background: grey;
  width: 100%;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--nav-height);
  background: yellow;
}


.swiper {
  height: 100%;
  width: 100%;
}


.swiper-slide{
  justify-content: center;
  width: auto !important;
}

.swiper-slide{
  justify-content: center;
  align-items: center;
  display: flex;
}


.swiper-slide img{
  height: 100%;
  width: auto;
  margin-right: 50px;
  margin-left: 50px;
}

.swiper-slide img.Hresize{
  height: 50vw;
  width: auto !important;
  align-self: center;
}

.swiper-slide img.Wresize{
  width: 94vw;
  height: auto !important;
  align-self: center;
}

.size{
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  color: white;
  z-index: 199;
}
