
main.swiperjs2{
  position: fixed;
  top: var(--nav-height);
  left: 0; 
  right: 0;
  width: 100%;
  bottom: var(--nav-height);
  
  &.ismobile{
    top: var(--nav-height);
    bottom: var(--nav-height);
  }
  
  img.responsive2{
  
  }
  
  .swiper-slide{
  }
  
}


  
