@import "normalize.css";
@import "uikit";
@import "style";
@import "swiper-bundle.min.css";
@import "_swiperjs";
@import "_swiperjs2";

:root {
  --blue: #000;
  --white: #ffffff;
  --theme-padding: 1rem;
  --theme-padding-elements: 200px;
  --padding-images: 10rem;
  --theme-padding-x: 20px;
  --nav-height: 100px;
  --grid-sizer: 40%;
  --grid-sizer-large: 40%;
  --debug-bg: grey;
  --padding-overview-header-top: 2px;
  --padding-overview-header: 2px 0px 20px 0px;
  --padding-overview-header-bottom: 20px;
  --slider-padding-x: 0px;
  --theme-padding-y: 10px;
  --slide-padding-x: 120px;
  --cursor-next: e-resize;
  --cursor-prev: W-resize;
}

@media screen and (max-width: 764px) {
  :root {
    --blue: #000;
    --white: #ffffff;
    --theme-padding: 0rem;
    --theme-padding-elements: 10px;
    --padding-images: 0rem;
    --nav-height: 50px;
    --grid-sizer: 40%;
    --grid-sizer-large: 40%;
    --debug-bg: green;
    --padding-overview-header-top: 2px;
    --padding-overview-header-bottom: 20px;
    --padding-overview-header: 2px 0px 20px 0px;
    --slider-padding-x: 1rem;
    --theme-padding-y: 10px;
    --slide-padding-x: 20px;
  }
}

@font-face {
  font-family: "TimesNowSemiLight";
  src: url('../fonts/font.woff2') format('woff2'), url('../fonts/font.woff') format('woff');
}

body{
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

body, html{
  font-size: var(--font-size-page);
  font-family: 'TimesNowSemiLight';
  color: #000;
}

h1, h2, h3, h4, h5, h6, b, p, strong{
  font-family: 'TimesNowSemiLight';
  font-size: var(--font-size-page);
}

main.single{
  
}

.display-block{
  display: inline-block;
}

article{
  h2{
    font-size: var(--font-size-page);
    margin-top: 0;
    margin: 0 0 0 0;
    padding: var(--padding-overview-header);
  }
}

main.page{
 
}

article{
  max-width: 100%;
  box-sizing: border-box;
}

.masonry-a{
  padding: 4vh 10vw;
}

.nav{
  position: fixed;
  top: 0px;
  left: 0px; 
  height: var(--nav-height);
  width: 100%;
  max-width: 100vw;
  z-index: 100;
  line-height: var(--nav-height);
  
}

.x-padding{
  padding-left: var(--theme-padding-x);
  padding-right: var(--theme-padding-x);
}

.y-padding{
  padding-top: var(--theme-padding-y);
  padding-bottom: var(--theme-padding-y);
}


.disclaimer{
  grid-area: disclaimer;
  line-height: 100px;
  padding-right: 25px;
}

  
.fadouttext{
  opacity: 0; 
}


a{
  color: #000; 
}

a:hover{
  color: #000;
  text-decoration: none;
}

.wrapper-project{
  border-top: 1px solid black;
}

.theme-padding-bottom{
  margin-bottom: 2rem;
}

#intro-hero-text{
  transition: opacity 1.5s;
  transition-timing-function: ease-out;
  transition-delay: 0.5s;
}


#header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0,0,0,0);
  padding: 2rem 0;
  z-index: 99;
}


#mainfooter{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0,0,0,0);
  padding: 2rem 0;
}


.work{
  h2{
    font-size: var(--font-size-page);
    margin: 0;
    font-family: 'TimesNowSemiLight';
  }  
  
  box-sizing: border-box;
  margin-bottom: 100px;
  transition: opacity 0.5s ease-in-out 0;
  
  
  .work-img{
    opacity: 1;
    transition: opacity 1s ease-in-out 0;
    
    &.fadeout{
      opacity: 0.5;
    }
  }
  
  
}

#intro-hero-text.fadeouttext{
  opacity: 0;  
}


.grid-inside{
    
  &.left{
    text-align: left;
    @media screen and (max-width: 640px) {
      text-align: center;
    }
  }
  
  &.center{
    text-align: center;
    @media screen and (max-width: 640px) {
      text-align: center;
    }
  }
  
  &.right{
    text-align: right;
    @media screen and (max-width: 640px) {
      text-align: center;
    }
  }
  
  &.style-a{
    @media screen and (max-width: 640px) {
      padding: 0 0% 0 0%;
    }
  }
  
  &.style-b{
    @media screen and (max-width: 640px) {
      padding: 0 0% 0 0%;
    }
  }
  
  &.style-c{
    @media screen and (max-width: 640px) {
      padding: 0 0% 0 0%;
    }
  }
  
  &.style-d{
    @media screen and (max-width: 640px) {
      padding: 0 0% 0 0%;
    }
  }
  
  &.style-e{
    @media screen and (max-width: 640px) {
      padding: 0 0% 0 0%;
    }
  }
  
  &.style-f{
    @media screen and (max-width: 640px) {
      padding: 0 0% 0 0%;
    }
  }
  
}



.swiper-area{

}



.swiper,  #swiper-ele{
    height: calc(100vh - var(--nav-height) - var(--nav-height));
    max-height: calc(100vh - var(--nav-height) - var(--nav-height));
    width: calc(100vw); 
    overflow: hidden;
    
    &[data-cursor="next"]{
      cursor: var(--cursor-next);
    }
    
    &[data-cursor="prev"]{
      
      cursor: var(--cursor-prev);
    }
}


.slideshow__el[data-cursor=prev]:not([data-progress="0"]) {
    cursor: w-resize;
}


.slideshow__el[data-cursor=next]:not([data-progress="0"]) {
    cursor: e-resize;
}




.list-work{
  display: block;
  clear: both;
  margin-top: var(--nav-height);
}

.grid-sizer, .grid-item {
  width: 50%;
  box-sizing: border-box;
}


.grid-item{
  float: left;
}

@media screen and (max-width: 764px) {
  .grid-sizer, .grid-item{
    width: 100%;
  }
}


/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


// SINGLE PAGE
.single-content{
  height: calc(100vh - var(--nav-height) - var(--nav-height));
  max-height: calc(100vh - var(--nav-height) - var(--nav-height));
  position: fixed;
  top: var(--nav-height);
  width: 100vw;
  left: 0;
  right: 0;
}


.single-meta{
  height: var(--nav-height);
  position: fixed;
  overflow: hidden;
  width: 100vw;
  bottom: 0;
  left: 0;
  right: 0;
}


.work-gallery{
  height: calc(100vh - var(--nav-height) - var(--nav-height));
  margin-top: var(--nav-height);
  img{
    margin: 0px;
  }
}



