<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	{{ if .Params.seoTitle }}
		<title>{{ .Params.seoTitle }}</title>
	{{ else }}
		<title>{{ .Title }}</title>
	{{ end }}
	
	<meta name="description" content=""/>
	
	{{ template "_internal/google_analytics_async.html" . }}
	{{ template "_internal/opengraph.html" . }}
	
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/makeup.css" | relURL }}">
	<link rel="stylesheet" href="{{ "css/flickity-min.css" | relURL }}">
	
	<link rel="stylesheet" href="{{ "css/swiper-bundle.min.css" | relURL }}"/>
	
	<script src="{{ "js/jquery-min.js" | relURL }}"></script>
	<script src="{{ "js/uikit.js" | relURL }}"></script>
	<script src="{{ "js/uikit-icon.js" | relURL }}"></script>
	<script src="{{ "js/flickity.js" | relURL }}"></script>
	<script src="{{ "js/swiper-bundle.min.js" | relURL }}"></script>
	
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	
</head>

<body>
	
{{ if .IsHome }}
<main class="home">
	
	<div class="nav">
		<div class="uk-grid x-padding">
			<div class="uk-width-1-2"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></div>
			<div class="uk-width-1-2 uk-text-right">
				<a href="{{.Site.BaseURL}}#information">Info</a></div>
		</div>
	</div>
	
	<div class="content" id="info">
			{{ block "main" . }} {{ end }}
	</div>
	
	<div class="disclaimer x-padding">
			<div class="uk-grid">
				<div class="uk-width-1-2"><a href="{{.Site.BaseURL}}/disclaimer">Disclaimer</a></div>
				<div class="uk-width-1-2 uk-text-right">
					<a href="{{ .Site.Params.Instagram | safeURL }}" target="_blank">Instagram</a>
				</div>
			</div>
	</div>
	
</main>


{{ end }}



{{ if and (eq .Type "work") (.IsPage) }}

<main class="work-single">
	
	<div class="nav">
		<div class="uk-grid x-padding">
			<div class="uk-width-1-2"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></div>
			<div class="uk-width-1-2 uk-text-right"><a href="{{.Site.BaseURL}}/#information">Info</a></div>
		</div>
	</div>
	
	<div class="single-content">
			{{ block "main" . }} {{ end }}
	</div>
	
	<div class="single-meta">
		{{ block "category" . }} {{ end }}
	</div>

</main>
{{ end }}

{{ if and (ne .Type "work") (.IsPage) }}

<main class="page-single">
	
	<div class="nav">
		<div class="uk-grid x-padding">
			<div class="uk-width-1-2"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></div>
			<div class="uk-width-1-2 uk-text-right"><a href="{{.Site.BaseURL}}/#information">Info</a></div>
		</div>
	</div>
	
	<div class="page-content">
			{{ block "main" . }} {{ end }}
	</div>
	
	<div class="disclaimer x-padding">
			<div class="uk-grid">
				<div class="uk-width-1-2"><a href="{{.Site.BaseURL}}/disclaimer">Disclaimer</a></div>
				<div class="uk-width-1-2 uk-text-right">
					<a href="{{ .Site.Params.Instagram | safeURL }}" target="_blank">Instagram</a>
				</div>
			</div>
	</div>
	


</main>

{{ end }}


<style>

	.style-a{
	  {{ .Site.Params.styleA | safeCSS }}
	}
	
	.style-b{
		{{ .Site.Params.styleB | safeCSS }}
	}
	
	.style-c{
		{{ .Site.Params.styleC | safeCSS }}
	}
	
	.style-d{
		{{ .Site.Params.styleD | safeCSS }}
	}
	
	.style-e{
		{{ .Site.Params.styleE | safeCSS }}
	}
	
	.style-f{
		{{ .Site.Params.styleF | safeCSS }}
	}
	
	
</style>

</body>

<script src="{{ "js/app.js" | relURL }}"></script>

</html>
