@charset "UTF-8";


img {
    border: 0;
    content: normal!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}


/* swiper container and slider styles here */

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.slideshow {
    height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.slideshow__area {
    background: var(--bg-color-2);
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.slideshow__el {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.slideshow__el[data-cursor=prev]:not([data-progress="0"]) {
    cursor: w-resize
}

.slideshow__el[data-cursor=next]:not([data-progress="1"]) {
    cursor: e-resize
}

.slideshow__slide {
    width: auto;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 var(--slide-padding-x);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width:767px)  {
  .slideshow__slide {
      padding: var(--slide-padding-y) var(--slide-padding-x);
  }
}

@media (min-width:768px) and (max-width:1023px) {
    .slideshow__slide {
        padding: var(--slide-padding-y) var(--slide-padding-x);
    }
}

@media (min-width:1024px) {
    .slideshow__slide {
        padding: var(--slide-padding-y) var(--slide-padding-x);
    }
}

.slideshow__slide .caption, .slideshow__slide .caption2 {
    display: none
}

.slideshow__slide img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    opacity: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.slideshow__slide img.lazyloaded {
    opacity: 1
}


/* this is styling responsible responsive behavior for images in slide */

.responsive-img {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.responsive-img img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}



